[submodule "TestHome"]
	path = TestHome
	url = https://github.com/zqy1992/TestHome.git
[submodule "TestNews"]
	path = TestNews
	url = https://github.com/zqy1992/TestNews.git
[submodule "TestBase"]
	path = TestBase
	url = https://github.com/zqy1992/TestBase.git
